.banner{
	height: 6.45rem;
	overflow: hidden;
	background: url('../images/m12.jpg') no-repeat center;
	background-size: 18.0rem
}
.banner h2{
	margin-top: 2.125rem;
	font-size: 0;
	text-align: center;
	line-height: 1.65rem;
}
.banner h2 b{
	display: inline-block;
	font-size: 1.65rem;
	color: #fff;
	vertical-align: middle;
	text-shadow:-0.05rem 0.1rem 0.1rem  #333;
}
.banner h2 span{
	display: inline-block;
	font-size: 0.8rem;
	line-height: 0.8rem;
	vertical-align:middle;
	color: #fff;
	font-weight: normal;
	margin-left: 0.75rem
}
.banner a{
	display: block;
	width: 3.1rem;
	font-size: 0.6rem;
	line-height: 0.6rem;
	margin-left: 13.25rem;
	margin-top: 1.5rem;
	color: #fffc2a; 
	background: url(../images/m13.png) no-repeat right center;
	background-size: 0.55rem
}
.zg-main{
	background: #f6f6f6;
	overflow: hidden;
	padding-bottom: 3.0rem
}
.zg-main-wrap{
	overflow: hidden;
	width: 17.0rem;
	margin: 1.5rem auto 0;
	background: #fff;
}
.zg-main-essay{
	font-size: 0.6rem;
	line-height: 0.9rem;
	color: #333;
	padding: 0.75rem 0.6rem;
	text-indent: 2em
}
.zg-main-wrap > a{
	display: block;
	width: 15.475rem;
	height: 1.35rem;
	margin: 0.6rem auto 1.75rem;
	background: url(../images/m14.png) no-repeat center;
	text-align: center;
	line-height: 1.35rem;
	font-size: 0.65rem;
	color: #333;
	font-weight: bold;
}